<h1><%= @country.name %></h1>
<p> <%= @country.name %>'s currency is <%= @country.currency %> </p>

<%= link_to("Show #{country.name}", country_path(country)) %>
<%= button_to('Delete', country_path(country), method: :delete, data: {confirm: 'Delete Them?  Are you sure?!'}) %>
<%= link_to("Edit", edit_country_path(country)) %>
<br>